@require 'css/utils';

body {
    background-color: #666;
    color: #fff;
    font-family: sans-serif;
    margin: 0;
    padding: 1em;
    text-shadow: 0 0 5px #000;
}

h1 {
    font-size: 2rem;
    line-height: 2.67rem
    margin: 0 0 1rem 0;
    float: left;
}

input,
select,
button {
    font-size: 1em;
}
button {
    cursor: pointer;
}

[aria-hidden="true"] {
    display: none !important;
}



_linkybutton() {
    _buttonReset();
    color: #ddd;
    border-bottom: 1px dotted #bbb;

    &:hover,
    &:focus {
        color: #fff;
        border-bottom-style: solid;
    }
}


// --------------------------------------------------------------------------



.appsettings {
    float: right;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
.appsettings__zoom,
.appsettings__colorchart,
.appsettings__altstyle {
    display: inline-block;
    margin-left: 1rem;
    margin-bottom: .5rem;
}



// --------------------------------------------------------------------------



.importexport {
    clear: both;
    float: right;
    margin-bottom: 1rem;
    position: relative;
}
.importexport__export {
    _linkybutton();
    margin-left: 1.5em;
}
.importexport__import {
    display: inline-block;
    vertical-align: top;
    margin-left: 1.5em;
}
.importexport__import > label {
    _linkybutton();
    vertical-align: top;
}
.importexport__import > input {
    _sr-only();
}



// --------------------------------------------------------------------------



.savedlabelsmenu {
    margin-bottom: 1rem;
    clear: left;
}
.savedlabelsmenu__labellist {
    display: inline-block;
    margin-right: 1.5rem;
    margin-bottom: .5rem;
}
.savedlabelsmenu__newlabel {
    _linkybutton();
    margin-bottom: .5rem;
}



// --------------------------------------------------------------------------



.labelsettings {
    clear: both;
    border-top: 1px solid #ccc;
    padding-top: 1rem;
}
.labelsettings__width,
.labelsettings__vertical,
.labelsettings__textsize,
.labelsettings__duolang {
    display: inline-block;
    margin-right: 1.5rem;
    margin-bottom: .5rem;
}

.labelsettings__width > input {
    width: 3.3em;
    text-align: right;
}

.labelsettings__width > label > i {
    position: absolute;
    right: 9999px;
}
.labelsettings__width::after {
    content: attr(data-unit);
    margin-left: .25em;
}



// --------------------------------------------------------------------------



.labelactions {
    margin-top: 1rem;
    margin-bottom: 1rem;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.labelactions__save {
    margin-right: 1.5rem;
    margin-bottom: .5rem;
}
.labelactions__delete {
    _linkybutton();
    margin-bottom: .5rem;
}



// --------------------------------------------------------------------------



.activelabel {
    position: relative;
    border: 0.1pt dotted #000;
    box-sizing: border-box;
    color: #000;
    text-shadow: none;
    font-family: 'athelas', 'Droid Serif', sherif;
}
.activelabel__inner {
    display: flex;
}
.activelabel--layout--vertical > .activelabel__inner {
    flex-direction: column;
}
.activelabel--textsize--large  { font-size: 20pt; }
.activelabel--textsize--normal { font-size: 17pt;}
.activelabel--textsize--small  { font-size: 14pt; }

$zoomlevels = (90 80 70 60 50 40 33 25 20 15);

@media screen {
    .activelabel {
        transform-origin: 0 0;
    }
    for $zoom in $zoomlevels {
        .activelabel--zoom--{$zoom} { transform: scale($zoom/100); }
    }
}


.activelabel__height {
    @media screen {
        position: absolute;
        top: 100%;
        left: 0;
        margin: .2cm .3cm;
        // bottom: 0;
        // left: 100%;
        // transform-origin: 0 100%;
        // transform: rotate(-90deg);
        // margin: .2cm  -.1cm;
        font-size: 20px;
        transform-origin: 0 0

        for $zoom in $zoomlevels {
            .activelabel--zoom--{$zoom} & { transform: scale(100/$zoom); }
        }
    }
    @media print {
        display: none;
    }
}

.activelabel__section {
    flex-grow: 1;
    width: 50%;
}
.activelabel--layout--vertical .activelabel__section {
    width: auto;
}

.activelabel__section__title {
    font-size: (22/16)em;
    margin: 0;
    margin-bottom: (4/22)em;
    line-height: 1.2em;
}
.activelabel__section__text  {
    line-height: (20/17)em;
}
.activelabel__section__text > p {
    margin: 0;
    margin-bottom: (10/17)em;
}
.activelabel__section__text > p:last-child {
    margin-bottom: 0;
}



// --------------------------------------------------------------------------



.activelabel--style--normal {
    padding: 1cm 1cm 1.25cm 1cm;
    background-color: #dfe0e2;
}
.activelabel--style--normal .activelabel__inner {
    border: .5pt solid #000;
}
.activelabel--style--normal .activelabel__section {
    padding: 1cm  calc(1cm + 2pt);
    background-color: #fff;
}
.activelabel--style--normal.activelabel--layout--horizontal .activelabel__section--is {
    padding-right: .8cm;
}
.activelabel--style--normal.activelabel--layout--horizontal .activelabel__section--en {
    padding-left: .8cm;
}
.activelabel--style--normal.activelabel--layout--vertical .activelabel__section--is {
    padding-bottom: .6cm;
}
.activelabel--style--normal.activelabel--layout--vertical .activelabel__section--en {
    padding-top: .6cm;
}



// --------------------------------------------------------------------------



.activelabel--style--alternate {
}
.activelabel--style--alternate .activelabel__section {
    padding: 1.5cm;
    background-color: #fff;
}
.activelabel--style--alternate .activelabel__section--en {
    padding: 1.5cm;
    background-color: #dfe0e2;
}



// --------------------------------------------------------------------------



.colorchart {
    width: 25cm;
    height: 10cm;
    background-color: #fff;
    display: flex;
}
.colorchart__bar {
    text-align: center;
    line-height: 10cm;
    text-shadow: none;
    color: #000;
    margin: 2.5mm;
    font-weight: 400;
    flex-grow: 1;
    flex-basis: 100px;
}
$color = #dfe0e2;
.colorchart__bar--1 { background-color: lighten($color, 50%); }
.colorchart__bar--2 { background-color: lighten($color, 35%); }
.colorchart__bar--3 { background-color: lighten($color, 20%); }
.colorchart__bar--4 { background-color: #e0e0e0; }
.colorchart__bar--5 { background-color: $color; }
.colorchart__bar--6 { background-color: darken($color, 4%); }
.colorchart__bar--7 { background-color: darken($color, 8%); }



// --------------------------------------------------------------------------



@media print {
    body {
        background-color: transparent;
    }
    h1,
    .appsettings,
    .savedlabelsmenu,
    .labelsettings,
    .labelactions {
        display: none;
    }
}

